# ========= Build artifacts =========
*.o
*.elf
*.bin.code
*.map
build
.build

# ========= Logs =========
last_run.log

# ========= Temporary files =========
*.tmp
*.swp
*.swo
*~
.DS_Store

# ========= Toolchain / debug leftovers =========
*.d
*.lst

# ========= Editor / IDE =========
.vscode/
.idea/
Due_BareMetal.code-workspace
Open_Due_BareMetal.command